@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Nanum Myeongjo", serif;
}

#main {
  width: 100%;
  height: 100%;
}

#nav-bar-1 {
  width: 100%;
  height: 50px;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

#logo .circle {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
}

#nav-elem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

#nav-elem h4 {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}

#nav-elem span {
  color: rgb(139, 139, 165);
}

#nav-bar-2 {
  width: 100%;
  height: 50px;
  padding: 0px 40px;
  /* background-color: rgb(221, 149, 149); */
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

#nav-bar-2 h4 {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}

#content {
  width: 100%;
  height: calc(100% - 100px);
  background-color: cadetblue;
  /* padding: 0px 40px; */
}

#info-content{
    display: flex;
    flex-wrap: nowrap;
}

.elem {
  width: 50%;
  height: 250px;
  background-color: red;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.elem h1{
    font-size: 5.5rem;
    font-weight: 500;
}
